.backBut {
    width: 100px;
    display: inline;
    height: 30px;
    border-radius: 3px;
    transition: background-color 0.5s ease;
    margin-right: 30px;
    background-color: white;
    transform: translate(220%, -40%);
}

.patientprof {
    width: 250px;
    display: block;
    height: 70px;
    margin: 40px;
    border-radius: 3px;
    transition: background-color 0.5s ease;
    background-color: white;
    transform: translate(570%, -140%);
}

.resultsText {

    width: 550px;
    padding: 20px;
    top: 50%;
    height: 550px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -20%);
    text-align: center;
    border-radius: 5px;
    color: black;

 }

 .resultsText input, 
 .resultsText textarea {

    width: 300px; 
    height: 50px; 
    border: 1px solid #ccc;
    transform: translate(22%, -70%);
 }

 .resultsText label {
    display: block; 
    margin-bottom: 5px;
    transform: translate(35%, -200%);
    text-align: left;
 }

 button[type="submit"] {
    transform: translate(110%, -200%);
 }
